@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

 body{
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
 }

 h1{
    font-size: 1.2rem;
    width: 300px;
 }

 img{
    margin-top: 8px;
    border-radius: 10px;
    width: 250px;
}

 #text{
    margin: 20px;
    text-align: center;
    width: 270px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
 }

p{  
    color: gray;
    margin-top: 0;
    font-size: 1rem;
    width: 245px;
}

@media (min-width: 1024px){
   body{
      height: 100vh;
   }
} 
